.choice-container {
  display: flex;
  margin-bottom: 5px;
  width: 100%;
  font-size: 20px;
  border: 1px solid rgb(86, 165, 235, 0.25);
  background-color: white;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 4px 15px 0 rgba(86, 185, 235, 0.5);
  transform: translateY(-1px);
  transition: transform 150ms;
}

.choice-prefix {
  padding: 15px 25px;
  background-color: #56a5eb;
  color: white;
  border-radius: 50%;
}

.choice-text {
  padding: 15px;
  width: 100%;
}

.correct {
  background-color: #28a745;
}

.incorrect {
  background-color: #dc3545;
}

/* HUD */

#hud {
  display: flex;
  justify-content: space-between;
}

.hud-prefix {
  text-align: center;
  font-size:24px;
}

.hud-main-text {
  text-align: center;
}

#progressBar {
  width: 300px;
  height:20px;
  border: 3px solid #56a5eb;
  margin-top: 20px;
}

#progressBarFull {
  height: 18px;
  background-color: #56a5eb;
  width: 0%;
}